@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'IBM Plex Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#menu:hover {
    border-radius: 5px;
    background-color: #e3f2fd;
}

.nav-link,
.footer {
    font-family: 'Bitter', sans-serif;
}

footer {
    font-size: 0.8rem;
}

.btn-primary {
    background-color: #6fabd6;
    border-color: #6fabd6;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #4189bc;
    border-color: #4189bc;
}

.btn-light {
    background-color: #e3f2fd;
    border-color: #e3f2fd;
}

.btn-light:hover,
.btn-light:active {
    background-color: #b0d4f1;
    border-color: #b0d4f1;
}

.btn-outline-primary {
    color: #6fabd6;
    border-color: #6fabd6;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #6fabd6;
    border-color: #6fabd6;
}