* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 10px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
}

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul,
li {
    display: inline-block;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

#top_header {
    padding: 20px;
}

#title {
    display: inline-block;
    width: 35%;
    margin-left: 10px;
}

#title h1 {
    color: goldenrod;
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

#title p {
    font-size: 0.9em;
    color: rgb(128, 97, 18)
}

nav {
    width: 60%;
    float: inline-end;
    margin-top: 40px;
    margin-right: 20px;
}

#navi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navi>li {
    width: 140px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#navi :hover {
    background: goldenrod;
}

.sub-menu {
    display: none;
    position: absolute;
    margin-top: 2px;
    padding: 5px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

#navi>li:hover .sub-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    color: black;
}

article {
    margin: 10px;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 5px;
}

#post article {
    border: 2px dashed goldenrod;
}

#ad article {
    border: 1px solid black
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card h3 {
    margin-bottom: 10px;
}

.card img {
    width: 140px;
    height: 160px;
    border: 1px solid lightgoldenrodyellow;
    border-radius: 1px;
    margin-right: 10px;
}

#foot {
    width: 100%;
    display: inline-block;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#btm_footer {
    width: 100%;
    text-align: center;
}

#btm_footer li {
    display: inline-block;
    width: 20%;
    margin: 10px;
}

#btm_footer li a {
    color: goldenrod;
    text-decoration: none;
}